.overlay-text {
  position: absolute;
  left:     10px;
  top:      10px;
  color:    white;
  opacity:  1.0;
  background-color: rgba(50, 50, 50, .5);
  border:    solid 1px rgba(200, 200, 200, .5);
  padding:   5px;
}

.overlay-text p {
  margin-top:    0px;
  margin-bottom: 10px;
}

.overlay-popup {
  position:  absolute;
  left:      50%;
  top:       100%;
  transform: translate(-50%, -100%);
  color:     white;
  background-color: black;
  border:    solid 1px rgb(200, 200, 200);
  padding:   30px;
  opacity:   .9;
}

body {
  width: 100%;
}
